img[src^=menubar] {
position: absolute;
top: 66px;
left: -1px;

}

img[src^=demaelogo] {
position: absolute;
top: 10px;
left: 5px;

}

img[src^=selectedoption] {
position: absolute;
top: 66px;
left: -20px;

}

img[src^=login] {
position: absolute;
top: 150px;
left: 5px;

}

img[src^=recent] {
position: absolute;
top: 215px;
left: 5px;

}

img[src^=zipcode] {
position: absolute;
top: 280px;
left: 5px;

}

img[src^=address] {
position: absolute;
top: 345px;
left: 5px;

}

img[src^=guide] {
position: absolute;
top: 410px;
left: 5px;

}

img[src^=demaeman] {
position: absolute;
top: 110px;
left: 5px;
z-index: 1;

}

img[src^=loginmenu] {
position: absolute;
top: 150px;
left: 335px;

}

img[src^=loginbutton] {
position: absolute;
top: 350px;
left: 550px;
z-index: 1;

}

.username {
position: absolute;
top: 270px;
left: 550px;
z-index: 1;

}

.password {
position: absolute;
top: 300px;
left: 550px;
z-index: 1;

}